<div class="container">
    <div class="content">
        <div class="blogs">
            <div class="divider title">
                <h1> {{item.title | titlecase}} </h1>
            </div>

            <div class="blog">
                <div class="blog-image">
                    <img src="../../../assets/uploads/blogs/{{item.image}}" class="img-fluid rounded" alt="">
                </div>

                <div class="blog-text">
                    <p> {{item.blog}} </p>
                </div>
            </div>

            <div class="divider"></div>
        </div>
    </div>
</div>