<div class="wrapper">
    <div class="container">
        <div class="content">
            <div class="member">
                <div class="title">
                    <h3>Member Details</h3>
                </div>
                <div class="forms">
                    <div class="errors" id="errors" *ngIf="errors !== undefined && errors.length > 0">
                        <span class="error" *ngFor="let error of errors">
                        <small *ngIf="error.type === 'required'" class="text-danger" >{{ error.msg }}</small>
                        <small *ngIf="error.type === 'regex'" class="text-danger">{{ error.msg }}</small>
                      </span>
                    </div>
                    <form action="" class="english" [formGroup]="items">
                        <div class="back">
                            <a routerLink="../../" class="btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                          </svg>
                            </a>
                        </div>
                        <div class="image mb-3">
                            <img loading="lazy" src="../../../../assets/uploads/members/{{item.image}}" alt="">
                            <div class="mb-3">
                                <input class="form-control" accept="images/*" (change)="onChangeImage($event)" (click)="delete($event)" id="image" type="file">
                            </div>
                        </div>
                        <div class="two">
                            <div class="mb-3">
                                <input type="text" class="form-control" (click)="delete($event)" formControlName="first_name" id="first_name" value="{{item.first_name}}" placeholder="First Name">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" (click)="delete($event)" formControlName="last_name" id="last_name" value="{{item.last_name}}" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="two">
                            <div class="mb-3">
                                <input type="text" class="form-control" (click)="delete($event)" formControlName="contact" id="contact" value="{{item.contact}}" placeholder="Email or Phone Number">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" (click)="delete($event)" formControlName="position" id="position" value="{{item.position}}" placeholder="Position">
                            </div>
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" (click)="delete($event)" formControlName="comment" rows="3" id="comment" value="{{item.comment}}" placeholder="What he/she thinks about the company..."></textarea>
                        </div>
                        <button type="submit" class="btn" (click)="postRequest()"> Update Member </button><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
