<div class="wrapper">
    <footer>
        <div class="navs-details">
            <div class="container">
                <div class="content">
                    <div class="footer-nav">
                        <div class="navs">
                            <div class="nav nav-links">
                                <ul class="nav justify-content-end">
                                    <li class="nav-item">
                                        <a class="nav-link links " routerLink="home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link links " routerLink="about">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link links " routerLink="service">Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link links " routerLink="contact">Contacts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link links " routerLink="testimonials">Testimonial</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link links " routerLink="blogs">Blogs</a>
                                    </li>
                                </ul>

                            </div>
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a routerLink="home" class="nav-link logo btn btn-primary-outline" aria-current="page">
                                        <img class="rounded" src="../../../assets/clean-media/clean-logo.jpg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper-details">
            <div class="footer-details">
                <div class="container">
                    <span>Copyright &copy; 2023. Designed By <a href="">Hassan Shaiba</a></span>
                </div>
            </div>
        </div>
    </footer>
</div>
