<div class="container">
    <div class="content">
        <div class="title">
            <h1> Control Panel </h1>
        </div>

        <div class="cards">

            <div class="card">
                <div class="card-header">
                    <h3> Bookings </h3>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{bookings.length}}</h1>

                </div>
            </div>


            <div class="card">
                <div class="card-header">
                    <h3> Members </h3>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{members.length}}</h1>

                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3> Services </h3>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{services.length}}</h1>

                </div>
            </div>


            <div class="card">
                <div class="card-header">
                    <h3> Testimonial </h3>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{testimonial.length}}</h1>

                </div>
            </div>


            <div class="card">
                <div class="card-header">
                    <h3> Comments </h3>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{comments.length}}</h1>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3> Blogs </h3>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{blogs.length}}</h1>
                </div>
            </div>


        </div>
    </div>
</div>