<div class="wrapper">
    <div class="container">
        <div class="content">
            <div class="member">
                <div class="title">
                    <h3>New Blog</h3>
                </div>

                <div class="forms">
                    <div class="errors mb-1" id="errors" *ngIf="errors !== undefined">
                        <span class="error" *ngFor="let error of errors">
                      <small *ngIf="error.type === 'required'" class="text-danger" >{{ error.msg }}</small>
                      <small *ngIf="error.type === 'regex'" class="text-danger">{{ error.msg }}</small>
                    </span>
                    </div>
                    <form action="" class="english" [formGroup]="items">
                        <div class="image mb-3">
                            <img [src]="imageUrl" class="rounded">
                            <div class="mb-3">
                                <input class="form-control" (change)="onChangeImage($event)" (click)="delete($event)" type="file" id="image">
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" (click)="delete($event)" formControlName="title" id="title" placeholder="Blog Title">
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" (click)="delete($event)" formControlName="blog" id="blog" rows="3" placeholder="Blog Goes Here"></textarea>
                        </div>
                        <button type="submit" (click)="postRequest()" class="btn"> Add Blog </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
