<div class="wrapper">
    <div class="container">
        <div class="content">
            <div class="uploads">
                <router-outlet></router-outlet>
            </div>
            <div class="config">
                <ul>
                    <li><a routerLink="new-member"> new member </a></li>
                    <li><a routerLink="new-service"> new service </a></li>
                    <li><a routerLink="new-testimonial"> new testimonial </a></li>
                    <li><a routerLink="new-blog"> new blog </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
