.wrapper {
    // height: calc(86vh - 60px);
    .container {
        height: 100%;
        .content {
            height: 100%;
            .member {
                height: 100%;
                .title {
                    height: 5em;
                    display: grid;
                    place-content: center;
                    color: #bdc3c7;
                }
                .testimonial-image {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 1em;
                }
                .forms {
                    height: 100%;
                    .errors {
                        text-align: center;
                        border: 1px solid #dc3545;
                        border-radius: 5px;
                    }
                    section {
                        height: 100%;
                        display: grid;
                        .two {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            gap: 1em;
                            .image {
                                height: 50vh;
                            }
                        }
                        .button {
                            display: flex;
                            justify-content: space-between;
                            button {
                                background-color: #1abc9c;
                                color: #fff;
                            }
                            .back {
                                .btn {
                                    border: 1px solid #000;
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
