.container {
    .content {
        display: grid;
        .divider {
            width: 100%;
            height: 40vh;
            color: #cccccc;
            display: grid;
            place-content: center;
            place-items: center;
            h1 {
                text-transform: uppercase;
            }
        }
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1em;
            li {
                list-style: none;
                div {
                    h3 {
                        background-color: #1abc9c;
                        color: #fff;
                        padding: .5em;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

@media (min-width: 300px) and (max-width: 811px) {
    .container {
        .content {
            display: grid;
            .divider {
                height: 18vh;
            }
            ul {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 1em;
                li {
                    list-style: none;
                    div {
                        h3 {
                            background-color: #1abc9c;
                            color: #fff;
                            padding: .5em;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}
