<div class="wrapper">
    <div class="container">
        <div class="content">
            <div class="uploads">
                <router-outlet></router-outlet>
            </div>
            <div class="config">
                <ul>
                    <li><a routerLink="members">  members </a></li>
                    <li><a routerLink="services">  services </a></li>
                    <li><a routerLink="testimonials">  testimonials </a></li>
                    <li><a routerLink="blogs">  blogs </a></li>
                    <li><a routerLink="comments">  Comments </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>